 .form{
    width: 450px;
    text-align: center;
    background-color: white;
    height: 500px;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
 }
    
    .label{
    display: block;
    font-size: larger;
    color: #000;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
    }
    .btn{
    color: white;
    background-color: blue;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    
    }